.switch {
  position: relative;
  display: flex;
  height: 60px;
  background-color: #666;
  border: 5px solid #666;
}
.switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
  transition: transform 0.3s ease;
}
.switch__active_left::before {
  transform: translateX(0%);
}
.switch__active_right::before {
  transform: translateX(100%);
}

.switch_button {
  all: unset;
  text-align: center;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
